@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

nav {
    position: relative;
    background-color: rgb(32, 32, 32);
    padding: 15px 15px;
}

nav div {
    display: inline;
    top: 45%;
}

nav a#lol-icon {
    padding: 5px 0px;
}

nav a#lol-icon img {
    transform: scale(80%, 80%);
    transition: .3s;
}

nav a#lol-icon:hover img{
    content: url('../images/riot-logo-red.png');
    transform: scale(85%, 85%);
}

nav a {
    color: rgb(214, 214, 214);
    text-decoration: none;
    font-family: 'Albert Sans', sans-serif;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 7px 15px;
    margin-right: 5px;
    transition: .15s;
}

nav div a:hover {
    background-color: rgb(61, 61, 61);
    border-radius: 7px;
}

nav div#main-nav {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 10px;
}

nav div#sec-nav {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
}

nav div#sec-nav a#lang-icon {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: -20%;
    padding: 15px 10px;
}

nav div#sec-nav a#lang-icon img {
    transform: scale(100%, 100%);
    transition: .15s;
}

nav div#sec-nav a#lang-icon:hover img{
    transform: scale(110%, 110%);
}

nav div#sec-nav a#lang-icon:hover {
    background-color: transparent;
    border-radius: 0px;
}
nav div#sec-nav a#lang-icon span {
    position: absolute;
    visibility: hidden;
    background-color: rgba(121, 121, 121, 0.671);
    color: rgb(212, 212, 212);
    font-size: 0.9em;
    font-weight: normal;
    text-align: center;
    bottom: -75%;
    left: -130%;
    width: 170px;
    padding: 10px 15px;
    border-radius: 7px;
    opacity: 0;
    transition: .15s;
}

nav div#sec-nav a#lang-icon:hover span {
    visibility: visible;
    opacity: 1;
}

nav div#sec-nav a#sign-in {
    background-color: rgb(66, 66, 66);
    padding: 7px 15px;
    border-radius: 10px;
    margin-right: 10px;
}

nav div#sec-nav a#sign-in:hover {
    background-color: rgb(85, 85, 85);
}

nav div#sec-nav a#play-now {
    background-color: rgb(140, 140, 255);
    padding: 7px 15px;
    border-radius: 10px;
}

nav div#sec-nav a#play-now:hover {
    background-color: rgb(119, 119, 212);
}