@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --light-blue: rgb(140, 140, 255);
    --dark-purple: rgb(0, 9, 19);

    --font-link: 'Albert Sans', sans-serif;
    --font-highlight: 'Merriweather', serif;
    --font-text: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1040px) {
    nav div#main-nav a#link-5 {
        display: none;
    }
}

@media only screen and (max-width: 920px) {
    nav div#main-nav a#link-4 {
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    nav div#main-nav a#link-3 {
        display: none;
    }
}

@media only screen and (max-width: 690px) {
    nav div#main-nav a#link-2 {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    nav div#main-nav a#link-1 {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    nav div#sec-nav a#lang-icon {
        display: none;
    }
}

@media only screen and (max-width: 410px) {
    nav div#sec-nav a#play-now {
        display: none;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--dark-purple);
    height: 1500px;
}

header {
    z-index: 5;
    position: sticky;
    top: 0;
}

nav {
    position: relative;
    background-color: rgba(34, 34, 34, 0.97);
    padding: 15px 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.274);
}

nav a {
    position: relative;
    color: rgb(214, 214, 214);
    text-decoration: none;
    font-family: var(--font-link);
    font-size: .8em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 10px;
    transition: .2s;
}

nav a#lol-icon {
    padding: 5px 0px;
}

nav a#lol-icon img {
    transform: scale(60%, 60%);
    transition: .3s;
}

nav a#lol-icon:hover img{
    content: url('../images/riot-logo-red.png');
    transform: scale(63%, 63%);
}

nav a svg {
    padding-left: 5px;
}

nav div {
    display: inline;
    top: 45%;
}

nav div a:hover {
    background-color: rgb(61, 61, 61);
    border-radius: 7px;
}

nav div#main-nav {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 10px;
}

nav div#main-nav a span {
    position: absolute;
    visibility: hidden;
    background-color: rgba(119, 119, 212, 0.575);
    width: 100%;
    height: 4px;
    left: 50%;
    bottom: -70%;
    transform: translate(-50%, 0%);
    border-radius: 4px;
    transition: .25;
}

nav div#main-nav a:hover span {
    visibility: visible;
}

nav div#sec-nav {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
}

nav div#sec-nav a#lang-icon {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: -25%;
    padding: 15px 10px;
}

nav div#sec-nav a#lang-icon img {
    transform: scale(100%, 100%);
    transition: .15s;
}

nav div#sec-nav a#lang-icon:hover img{
    transform: scale(110%, 110%);
}

nav div#sec-nav a#lang-icon:hover {
    background-color: transparent;
    border-radius: 0px;
}
nav div#sec-nav a#lang-icon span {
    position: absolute;
    visibility: hidden;
    background-color: rgba(68, 68, 68, 0.781);
    color: rgb(255, 255, 255);
    font-family: var(--font-link);
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    bottom: -60%;
    left: -130%;
    width: 160px;
    padding: 10px 10px;
    border-radius: 5px;
    opacity: 0;
    user-select: none;
    transition: .15s;
}

nav div#sec-nav a#lang-icon:hover span {
    visibility: visible;
    opacity: 1;
}

nav div#sec-nav a#sign-in {
    background-color: rgb(66, 66, 66);
    padding: 7px 15px;
    border-radius: 10px;
    margin-right: 10px;
}

nav div#sec-nav a#sign-in:hover {
    background-color: rgb(85, 85, 85);
}

nav div#sec-nav a#play-now {
    background-color: var(--light-blue);
    padding: 7px 15px;
    border-radius: 10px;
}

nav div#sec-nav a#play-now:hover {
    background-color: rgb(119, 119, 212);
}

main {
    position: relative;
}

main section#overview {
    position: relative;
    background: rgb(0, 29, 63) url('../images/bg-image.jpg') center top/cover no-repeat;
    width: 100%;
    height: 90vh;
    -webkit-mask-image: linear-gradient(180deg, black 60%, transparent 100%);
    mask-image: linear-gradient(180deg, black 60%, transparent 100%);
}

main section#overview h1#champ-title {
    position: absolute;
    color: white;
    font-family: var(--font-text);
    font-size: 1.8em;
    text-align: center;
    letter-spacing: 3px;
    bottom: 10%;
    right: 50%;
    transform: translate(50%, 0%);
}

main section#overview h1#champ-title span {
    color: white;
    font-family: var(--font-highlight);
    font-size: 3.5em;
    letter-spacing: 3px;
}

main section#overview p {
    position: absolute;
    color: white;
    font-family: var(--font-link);
    font-size: 0.6em;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
    top: 40%;
    left: 1%;
    transform: rotate(180deg);
}

main section#overview p::after {
    content: " —";
}

main section#champ-overview {
    position: relative;
    max-width: 1000px;
    height: 300px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid rgba(255, 255, 255, 0.288);
    border-radius: 3px;
}

main section#champ-overview div#champ-stats {
    position: absolute;
    background-color: transparent;
    width: 500px;
    height: 300px;
    border-right: 1px solid rgba(255, 255, 255, 0.288);
}

main section#champ-overview div#champ-stats p#role {
    position: absolute;
    color: white;
    font-family: var(--font-link);
    font-size: 0.7em;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.3em;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

main section#champ-overview div#champ-stats p#role img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

main section#champ-overview div#champ-stats p#role span {
    color: rgb(208, 168, 92);
    display: block;
}

main section#champ-overview div#champ-stats p#difficulty {
    position: absolute;
    color: white;
    font-family: var(--font-link);
    font-size: 0.7em;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.3em;
    top: 50%;
    right: 20%;
    transform: translate(-50%, -32%);
}

main section#champ-overview div#champ-stats p#difficulty img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

main section#champ-overview div#champ-stats p#difficulty span {
    color: rgb(208, 168, 92);
    display: block;
}

main section#champ-overview div#separator {
    z-index: 4;
    position: absolute;
    color: red;
    width: 30px;
    height: 30px;
    top: 50%;
}

main section#champ-overview div#champ-info {
    position: absolute;
    background-color: transparent;
    width: 500px;
    height: 300px;
    right: 0;
}

main section#champ-overview div#champ-info p {
    position: absolute;
    color: rgb(204, 194, 194);
    width: 70%;
    font-family: var(--font-text);
    font-size: 1em;
    text-align: justify;
    text-indent: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}